.footer{
  border-top: 0.1rem solid white;
  margin-top: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_insta{
    font-size: 2rem;
}


.footer_insta_logo{
    margin-top: 2rem;
    padding: 0;
}