/* @media only screen and (max-width: 980px){
    .main_header{
        display: none;
    }
} */

.header{
    background: #0e0e0e;
    display: flex;
    align-items: center;
    height: 5rem;
}

.header > img{
    height: 3rem;
    margin: 2rem;
    margin-right: 15%;
}


.header_list{
      display: flex;
      background-color: #0e0e0e;
      gap: 0.8rem;
}

.header_buttons{
    background-color: #0e0e0e;
    border: transparent;
}

.header_list :hover{
    color: aqua;
    cursor: pointer;
}


.header__home{
    align-items: center;
    display: flex;
}

.header__search{
    align-items: center;
    display: flex;
}


.header__watchlist{
    align-items: center;
    display: flex;
}

.header__originals{
    align-items: center;
    display: flex;
}

.header__movies{
    align-items: center;
    display: flex;
}

.header__series{
    align-items: center;
    display: flex;
}









.header__user{
    display: flex;
    align-items: center;
    margin-left: 17rem;
}

.header__user > img{
    margin-left: 1rem;
    width: 2rem;
    border-radius: 99%;
}

.header__user > span{
    padding-left: 1rem;
}

.header__user > span:hover{
    color: aqua;
    cursor: pointer;
}
