.movies > h1{
     display: grid;
     place-items: center;
     margin-top: 10px;
}

.movies > h1:hover{
    color: aqua;
    cursor: pointer;
}

/* hindi */



.hindi_word{
    margin-left: 1rem;
    margin-top: 1rem;
 }
 
 
 .hindi_word:hover{
    color: aqua;
    cursor: pointer;
 }
 
 .hindi_img{
    width: 15rem;
    height: 20rem;
    border: 0.2rem solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
 }
 .hindi_list{
    display: flex;
    flex: row;
 }
 
 .hindi_only{
    display: flex;
    flex-direction: row;
 }
 
 /* kannada */

.kannada_word{
    margin-left: 1rem;
    margin-top: 1rem;
 }
 
 
 .kannada_word:hover{
    color: aqua;
    cursor: pointer;
 }
 
 .kannada_img{
    width: 15rem;
    height: 20rem;
    border: 0.2rem solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
 }
 .kannada_list{
    display: flex;
    flex: row;
 }
 
 .kannada_only{
    display: flex;
    flex-direction: row;
 }
 
 
/* 
.movies__hindi > container :hover{
    border-color: aqua;
    transform: scale(1.05);
    box-shadow: rgba(0 0 0)  0px 40px 58px -16px;
}

.movies__hindi > container{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.radheshyam > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.Eightthree > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.bachachhanpaandey > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.pushpa > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.runway34 > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.kgf2 > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.RRR > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.beast > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}



.movies__kannada > h1{
     display: grid;
     place-items: center;
     margin-top: 10px;
}

.movies__kannada > h1:hover{
    color: aqua;
    cursor: pointer;
}

.movies__kannada > h2{
    display: grid;
    margin-top: 70px;
    margin-left: 50px;
}

.movies__kannada > h2:hover{
   color: aqua;
   cursor: pointer;
}

.movies__kannada > container :hover{
    border-color: aqua;
    transform: scale(1.05);
    box-shadow: rgba(0 0 0)  0px 40px 58px -16px;
}

.movies__kannada > container{
    display: flex;
    align-items: center;
    margin-left: 40px;
}


.james > a > img{
    width: 90%;
    height: 300px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
} */