@media only screen and (max-width: 980px){
  #not_logged_mobile{
        position: absolute;
        right: 22rem;
        top: 50rem;
  }
}




*{
    box-sizing: border-box;
}

.App{
    overflow: hidden;
}

.not_logged{
    position: absolute;
    right: 35rem;
    top: 20rem;
    font-size: 2rem;
}